src/gmafwsdl/gmafService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.gmaf.swa.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://api.gmaf.swa.de/" name="GMAF_Facade_SOAPImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://api.gmaf.swa.de/" schemaLocation="http://localhost:8481/gmafService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAuthToken">
<part name="parameters" element="tns:getAuthToken"/>
</message>
<message name="getAuthTokenResponse">
<part name="parameters" element="tns:getAuthTokenResponse"/>
</message>
<message name="getRecommendedAssets">
<part name="parameters" element="tns:getRecommendedAssets"/>
</message>
<message name="getRecommendedAssetsResponse">
<part name="parameters" element="tns:getRecommendedAssetsResponse"/>
</message>
<message name="getOrGenerateGraphCode">
<part name="parameters" element="tns:getOrGenerateGraphCode"/>
</message>
<message name="getOrGenerateGraphCodeResponse">
<part name="parameters" element="tns:getOrGenerateGraphCodeResponse"/>
</message>
<message name="getSimilarAssets">
<part name="parameters" element="tns:getSimilarAssets"/>
</message>
<message name="getSimilarAssetsResponse">
<part name="parameters" element="tns:getSimilarAssetsResponse"/>
</message>
<message name="getCollection">
<part name="parameters" element="tns:getCollection"/>
</message>
<message name="getCollectionResponse">
<part name="parameters" element="tns:getCollectionResponse"/>
</message>
<message name="processAssetFromFile">
<part name="parameters" element="tns:processAssetFromFile"/>
</message>
<message name="processAssetFromFileResponse">
<part name="parameters" element="tns:processAssetFromFileResponse"/>
</message>
<message name="processAssetFromBytes">
<part name="parameters" element="tns:processAssetFromBytes"/>
</message>
<message name="processAssetFromBytesResponse">
<part name="parameters" element="tns:processAssetFromBytesResponse"/>
</message>
<message name="processAssetFromURL">
<part name="parameters" element="tns:processAssetFromURL"/>
</message>
<message name="processAssetFromURLResponse">
<part name="parameters" element="tns:processAssetFromURLResponse"/>
</message>
<message name="setProcessingPlugins">
<part name="parameters" element="tns:setProcessingPlugins"/>
</message>
<message name="setProcessingPluginsResponse">
<part name="parameters" element="tns:setProcessingPluginsResponse"/>
</message>
<portType name="GMAF_Facade">
<operation name="getAuthToken">
<input wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/getAuthTokenRequest" message="tns:getAuthToken"/>
<output wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/getAuthTokenResponse" message="tns:getAuthTokenResponse"/>
</operation>
<operation name="getRecommendedAssets">
<input wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/getRecommendedAssetsRequest" message="tns:getRecommendedAssets"/>
<output wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/getRecommendedAssetsResponse" message="tns:getRecommendedAssetsResponse"/>
</operation>
<operation name="getOrGenerateGraphCode">
<input wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/getOrGenerateGraphCodeRequest" message="tns:getOrGenerateGraphCode"/>
<output wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/getOrGenerateGraphCodeResponse" message="tns:getOrGenerateGraphCodeResponse"/>
</operation>
<operation name="getSimilarAssets">
<input wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/getSimilarAssetsRequest" message="tns:getSimilarAssets"/>
<output wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/getSimilarAssetsResponse" message="tns:getSimilarAssetsResponse"/>
</operation>
<operation name="getCollection">
<input wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/getCollectionRequest" message="tns:getCollection"/>
<output wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/getCollectionResponse" message="tns:getCollectionResponse"/>
</operation>
<operation name="processAssetFromFile">
<input wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/processAssetFromFileRequest" message="tns:processAssetFromFile"/>
<output wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/processAssetFromFileResponse" message="tns:processAssetFromFileResponse"/>
</operation>
<operation name="processAssetFromBytes">
<input wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/processAssetFromBytesRequest" message="tns:processAssetFromBytes"/>
<output wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/processAssetFromBytesResponse" message="tns:processAssetFromBytesResponse"/>
</operation>
<operation name="processAssetFromURL">
<input wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/processAssetFromURLRequest" message="tns:processAssetFromURL"/>
<output wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/processAssetFromURLResponse" message="tns:processAssetFromURLResponse"/>
</operation>
<operation name="setProcessingPlugins">
<input wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/setProcessingPluginsRequest" message="tns:setProcessingPlugins"/>
<output wsam:Action="http://api.gmaf.swa.de/GMAF_Facade/setProcessingPluginsResponse" message="tns:setProcessingPluginsResponse"/>
</operation>
</portType>
<binding name="GMAF_Facade_SOAPImplPortBinding" type="tns:GMAF_Facade">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAuthToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRecommendedAssets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrGenerateGraphCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSimilarAssets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCollection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="processAssetFromFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="processAssetFromBytes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="processAssetFromURL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setProcessingPlugins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GMAF_Facade_SOAPImplService">
<port name="GMAF_Facade_SOAPImplPort" binding="tns:GMAF_Facade_SOAPImplPortBinding">
<soap:address location="http://localhost:8481/gmafService"/>
</port>
</service>
</definitions>